<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My book shelf</title>
    <style>
        #root-container{
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        #books{
            width: 50%;
            border-collapse: collapse;
        }

        table{
            margin: 25px;
        }
        th{
            text-align: left;
        }
        th,td{
            border-bottom: 1px solid #ddd;
        }

    </style>
</head>
<body>
    <div id="root-container">
        <form method="post" th:action="@{/books/save}" th:object="${book}">
            <table>
                <tr>
                    <td>
                        <input type="text" placeholder="author" th:field="*{author}">
                    </td>
                    <td>
                        <input type="text" placeholder="book_title" th:field="*{title}">
                    </td>
                    <td>
                        <input type="text" placeholder="size (pages)" th:field="*{size}">
                    </td>
                    <td>
                        <input type="submit" value="save">
                    </td>
                </tr>
            </table>
        </form>

        <form method="post" th:action="@{/books/removeAllAuthors}">
            <table>
                <tr>
                    <td>
                        <input type="text" placeholder="author" th:name="bookAuthorToRemove">
                    </td>
                    <td>
                        <input type="submit" value="removeAllAuthors">
                    </td>
                </tr>
            </table>
        </form>

        <form method="post" th:action="@{/books/removeAllTitles}">
            <table>
                <tr>
                    <td>
                        <input type="text" placeholder="title" th:name="bookTitleToRemove">
                    </td>
                    <td>
                        <input type="submit" value="removeAllTitles">
                    </td>
                </tr>
            </table>
        </form>

        <form method="post" th:action="@{/books/removeAllSizes}">
            <table>
                <tr>
                    <td>
                        <input type="text" placeholder="size" th:name="bookSizeToRemove">
                    </td>
                    <td>
                        <input type="submit" value="removeAllSizes">
                    </td>
                </tr>
            </table>
        </form>

        <!--<form method="post" th:action="@{/books/findAllAuthors}">
            <table>
                <tr>
                    <td>
                        <input type="text" placeholder="author" th:name="bookAuthorToFind">
                    </td>
                    <td>
                        <input type="submit" value="findAllAuthors">
                    </td>
                </tr>
            </table>
        </form>!-->

        <form method="post" th:action="@{/books/findAllBooks}">
            <select size="3" th:name="criteria">
                <option th:value="authors" th:text="Authors"></option>
                <option th:value="titles" th:text="Titles"></option>
                <option th:value="pages" th:text="Pages"></option>
            </select>
            <input type="text" placeholder="name" th:name="nameCriteria">
            <input type="submit" value="findAllBooks">
        </form>




        <table id="books">
            <tr>
                <th>id</th>
                <th>author</th>
                <th>title</th>
                <th>size</th>

            </tr>
            <tr th:each="book : ${bookList}">
                <td th:text="${book.id}"></td>
                <td th:text="${book.author}"></td>
                <td th:text="${book.title}"></td>
                <td th:text="${book.size}"></td>

            </tr>
        </table>

    </div>

</body>
</html>